@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background: url('imgs/bg.svg'), url(imgs/bg-light.svg);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-blend-mode: color-burn;
}

.title-logo {
    font-weight: 700;
    color: #fff;
    font-size: 1.8rem;
}

.logo-end {
    color: #ffffff;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    font-size: 0.9rem;
}

.mainText {
    color: #ffffff;
}

.card-body {
    font-size: 2rem;
}

.card {
    transition: transform .2s;
}

.card:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.bmi:hover {
    color: rgb(0, 78, 151);
}

.bodyfat:hover {
    color: rgb(176, 1, 60);
}

.bmr:hover {
    color: rgb(0, 198, 106);
}