@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background: url('../imgs/bg.svg'), url('../imgs/bg-light.svg');
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-blend-mode: color-burn;
}

.title-logo{
    font-weight: 700;
    color: #fff;
    font-size: 1.8rem;
}

.logo-end{
    color: #ffffff;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    font-size: 0.9rem;
}

form{
    color: #000000;
    background-color: #fff;
    padding: 30px;
    border-radius: 13px;
}

input{
    margin: auto;
}

button{
    background-color: #000000 !important;
    border: none !important;
    border-radius: 3px !important;
}

.errorMsg{
    color: rgb(216, 0, 0);
}